html
  font-size: 13px;
  color: #777;
  // font-family: "Gotham SSm A", "Gotham SSm B";
  font-family: "Avenir Next"
  // opacity: 0;
  transition: opacity .5s ease;
  font-size 12px
  // -webkit-text-rendering: optimizeLegibility;


  .item:first-child
    opacity: 0;
    transition: opacity 1s ease;
    transition-delay: 1s;

  &.loaded
    opacity 1

    .item:first-child
      opacity: 1;

.fp-viewing-0
  .controls
    opacity 0
    transition: opacity .3s ease;
    transition-delay: 0s;

.fullpage
  section
    border: 18px solid white;

.popup
  // background: white;
  padding: 40px;
  position: absolute;
  // display: none
  top: 220px;
  left: 700px;
  width: 450px;
  z-index: 1000;
  box-shadow: 0 0 8px rgba(0,0,0,.3);
  // background: rgba(255,255,255,.98)
  text-align: left;
  cursor: cross-hair
  display: none;
  background: rgba(255,255,255,.98)
  // -webkit-backdrop-filter: blur(30px);

  h2
    margin-top: 0;
    margin-bottom: 30px;
  p
    line-height: 1.7;
    font-size: 11px;
    &:last-child
      margin-bottom: 0;


h1,h2,h3,h4,h5
  color black

a
  color: black;

.container
  max-width: 980px;
  margin: auto;

h1
  font-weight: 600;

h2
  font-weight: 400;

h4
  font-weight: 300;

header.site-header-2
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 30px;
  text-transform: uppercase;
  letter-spacing: .6px;
  color: white;
  // display: none;
  background: white;

  h1
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0px;
    opacity: .6
    transition: color .4s ease-out

  h3
    font-size: 9px;
    opacity: .3;
    margin-top: 8px;
    text-transform: uppercase;
    transition: color .4s ease-out


// .franja
//   height: 3000px;
//   width: 3000px;
//   position: absolute;
//   background: lighten(#DCE7E7, 40%);
//   transform: rotate(60deg) translate(130px);

header.site-header
  background: white;
  .container
    overflow: hidden;
    padding: 200px 0 190px 0;
    text-align: left;
    h3
      font-weight: 500;
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 13px;

    p
      line-height: 1.8
      max-width: 570px;
      &:last-child
        margin-bottom: 0;

    .contact
      margin-top: 30px;
      ul
        margin 0
        padding 0
        li
          margin 0
          padding 0
          margin-bottom: 8px;
        a
          display: block;
          text-decoration: none;

    .social-icons
      margin-top: 30px;
      a
        text-align: center;
        font-size: 16px;
        margin-right: 10px;
        display: inline-block
        text-decoration: none;

      img
        height: 12px;
        // opacity: .8


.slide-dark
  header.site-header
    h1,h3
      color: white;

.controls
  position: fixed;
  right: 30px;
  z-index: 100000;
  transition: opacity .7s ease;
  transition-delay: .5s;
  opacity: 1;

  a
    // background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px
    display: block
    margin-bottom: 1px;
    // border-radius: 100px;
    margin-bottom: 10px;

  .sandwitch
    text-align: center;
    overflow: hidden;
    // background-color: white

    div:first-child
      margin-top: 14px;

    div
      height: 2px;
      width 20px;
      display: block;
      background: black;
      margin: 3px auto;


  .account
    background-image: url('../img/account.svg')
    background-size: 40%;

  .arrow-top
    background-image: url('../img/arrow-top.svg')

  .arrow-down
    background-image: url('../img/arrow-down.svg')

  &.controls-top
    top: 30px;
  &.controls-bottom
    top: 70%;
    transform: translateY(-50%);


footer.site-footer
  background: #fff
  .container
    padding: 100px 0;
    color: white;


.item
  overflow: hidden;
  background-color: #22202C
  transition: background-color 1s ease;

.item-passwordless
  background-color: #000001
  h2
    color: white;

.item-webtask
  background-color: "#EEF2F5"

.item-auth0
  background-color: #222228
  h2
    color: white;

.item-webtask, .item-auth0
  img
    max-width: 800px !important;


// .section.active
//   .slide
//     opacity: 1
//
// .slide
//   position: relative;
//   opacity: 0
//   transition: all .5s ease;


.ipad-black
  width: 1000px;
  height: 600px;
  background: url('/img/devices/ipad-space-gray.png') center no-repeat
  position: relative;
  margin: auto;
  background-size: auto 100% ;
  img
    position: absolute;
    top: 40px;
    left: 180px;
    width: 700px;

.ipad-hands
  background: url('/img/devices/ipad-hands.png') center no-repeat
  height: 700px;
  background-size: auto 100% ;
  margin-bottom: -180px;
  // position: absolute;
  position: relative;
  bottom: 0;
  img
    position: absolute;
    top: 30px;
    left: 410px;
    width: 700px;
    // display: none;

.sidebar
  background: white;
  position: fixed;
  padding: 20px;
  right: 0;
  bottom: 0;
  width: 280px;
  z-index: 1000;
  text-align: center;
  top: 0;
  backdrop-filter: blur(10px);

  .social-icons
    margin-top: 10px;
    a
      text-decoration: none;
      font-size: 14px;
      display inline-block
      color black
      margin 0 6px

  .sidebar-header
    margin-top: 10px;
    img
      max-height: 60px;
      border-radius: 100px;

    h4
      margin-bottom: 8px;
      font-weight: 400;
    p
      font-size: 11px;
      margin-bottom: 14px;

  ul
    padding: 0;
    margin: 40px 0 0 0;
    list-style: none;

    li
      margin-bottom: 20px;
    a
      background: #f9f9f9;
      display: block;

    img, canvas
      max-height: 200px;
      max-width: 200px;


.slide
  text-align: center;
  vertical-align: middle

  .slide-title
    margin-bottom: 50px;
    // display: none;

    h2
      font-size 13px;
      margin-bottom: 14px;

    p
      font-size: 11px;
      opacity: .8;

  img, .browser-toolbar
    max-width: 60%;
    // max-height: 60%;
    max-width: 1000px;

  $ratio=.65;
  .iphone-6s

    background-size: 100%;
    background-position: top;
    width: 392px*$ratio;
    height: 801px*$ratio;
    display: inline-block
    margin-right: 60px;
    position: relative;
    background-repeat: no-repeat;
    &:last-child
      margin-right: 0;

    &.iphone-6s.iphone-6s-rose-gold
      background-image: url('/img/devices/iphone-6s-rose-gold.png')

    &.iphone-6s.iphone-6s-silver
      background-image: url('/img/devices/iphone-6s-silver.png')

    &.iphone-6s.iphone-6s-space-gray
      background-image: url('/img/devices/iphone-6s-space-gray.png')

    &.iphone-6s.iphone-6s-rose-gold
      background-image: url('/img/devices/iphone-6s-rose-gold.png')

    video,img
      width: 219px
      position: absolute;
      top: 64px;
      left: 16px;
      background: #333;
      border-radius: 3px;
      padding: 2px;
      display: block;
      cursor: circle;

  .browser
    overflow: hidden;
    border-radius: 3px;
    .browser-toolbar
      background: rgba(0,0,0,.15)
      display: block

      margin: auto;
      text-align: left;
      padding: 4px 0;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      i
        width: 8px
        height: 8px;
        border-radius: 100%;
        display: inline-block
        margin-left: 6px;
        top: -1px;
        position: relative
        &:first-child
          margin-left: 10px;





html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow:hidden;

  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
#superContainer {
  height: 100%;
  position: relative;

  /* Touch detection for Windows 8 */
  -ms-touch-action: none;

  /* IE 11 on Windows Phone 8.1*/
  touch-action: none;
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box; /* <=28 */
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index:1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}
.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout:fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  position: absolute;
  z-index: 4;
  top: 50%;
  top: 0;
  bottom: 0;
  width: 25%;
  // background: red;
}
.fp-controlArrow.fp-prev {
  left: 0;
  cursor: w-resize;
}
.fp-controlArrow.fp-next {
  right: 0;
  cursor: e-resize;
}
.fp-scrollable {
  overflow: scroll;
}
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
  right: 17px;
}
#fp-nav.left {
  left: 17px;
}
.fp-slidesNav{
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1;
}
.fp-slidesNav.bottom {
  bottom: 40px;
}
.fp-slidesNav.top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
margin: 0;
padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 10px;
  height: 13px;
  margin:  5px 3px;
  position:relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 7px;
    width: 7px;
    border-radius: 100%;
    background: rgba(0,0,0,.7)
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 7px;
    width: 7px;
    border: 0;
    left: 50%;
    top: 50%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    background: rgba(0,0,0,.2)
}

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}


// sliderout
body {
  width: 100%;
  height: 100%;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.fullpage {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open #panel {
  overflow: hidden;
}

.slideout-open #menu {
  display: block;
}
