@import "syntax-variables";

@font-face {
    font-family: 'Roboto Mono';
    src: url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.eot');
    src: url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.woff2') format('woff2'),
         url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.woff') format('woff'),
         url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.ttf') format('truetype'),
         url('atom://framerjs-syntax/styles/_fonts/robotomono-regular-webfont.svg#roboto_monoregular') format('svg');
    font-weight: 500;
    font-style: normal;
}

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto Mono';

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      // font-size: 11px;
      color: #666;
      &.syntax--cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.syntax--cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @light-gray;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @blue;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

atom-text-editor .search-results .marker .region{
  background-color: transparent;
  border: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

atom-text-editor .gutter .line-number.git-line-modified{
  border-color: @light-gray;
}

.syntax--comment {
  color: @light-gray;
}

.syntax--entity {
  &.syntax--name.type {
    color: @orange;
    // text-decoration: underline;
  }

  &.syntax--other.inherited-class {
    color: @green;
  }
}

.syntax--keyword {
  color: @green;

  &.syntax--control {
    color: @purple;
  }

  &.syntax--operator {
    color: @syntax-text-color;
  }

  &.syntax--other.special-method {
    color: @blue;
  }

  &.syntax--other.unit {
    color: @green;
  }
}

.storage {
  color: @purple;
}

.syntax--constant {
  color: @purple;

  &.syntax--character.escape {
    color: @cyan;
  }

  &.syntax--numeric {
    color: @green;
  }

  &.syntax--other.syntax--color {
    color: @purple;
  }

  &.syntax--other.symbol {
    color: @green;
  }
}

.important{
  color: @red !important;
}

.syntax--variable {
  color: @purple;

  &.syntax--interpolation {
    color: darken(@purple, 10%);
  }

  &.syntax--parameter.function {
    color: @syntax-text-color;
  }
}

.invalid.illegal {
  background-color: @red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @green;


  &.syntax--regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.syntax--other.link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @green;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @orange;
  }

  &.syntax--function  {
    color: @cyan;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.function {
    color: @blue;
  }

  &.syntax--name.class, &.syntax--name.type.class {
    color: @orange;
  }

  &.syntax--name.section {
    color: @blue;
  }

  &.syntax--name.tag {
    color: @orange;
    // text-decoration: underline;
    &.syntax--jade{
      // color: @purple;
    }
  }

  &.syntax--other.attribute-name {
    color: @blue;

    &.syntax--jade{
      color: white;
    }

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @blue;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @white;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.definition.heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.inline {
    color: @green;
  }
}

.source.gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}

atom-text-editor[mini] .scroll-view{
  padding-left: 1px;
}
