// These colors are specific to the theme. Do not use in a package!

@white: #fff;
@very-light-gray: #fff;
@light-gray: #62626B;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #111118;

@cyan: #00B9F1;
@blue: #44C7F4;
@purple: #C88FFB;
@green: #00FE48;
@red: #EB5424;
@orange: #FFC22C;
@yellow: #D6FF00;
@light-orange: #f0c674;
